*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: play, sans-serif;
}

#slide1 h5 {
    padding-top: 20px;
    font-size: 2.5em;
    letter-spacing: 0.1em;
}

#slide1 {
    background-color: black;
    color: rgb(218, 214, 209);
    text-transform: uppercase;
}

.logo {
    filter: invert();
    max-width: 40%;
}

.address {
    position: relative
}

.address li {
    list-style: none;
    padding-right: 40px;
    font-size: 0.8em;
}

.slide1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem
}

#slide2 {
    background-color: black;
    color: rgb(218, 214, 209);
    text-transform: uppercase;
    padding: 20px;
}

#slide2 h5 {
    padding-top: 30px;
}

#slide2 p{
    padding-bottom: 40px;
}

#slide2 .james {
    position: fixed;
    right: 10px;
    bottom: 10px;
    filter: invert();
}

#slide2 .video {
    width: 500px;
    height: 400px;
}

#slide3 {
    background-color: black;
    color: rgb(218, 214, 209);
    text-transform: uppercase;
    padding: 20px;
}

#slide3 .james {
    position: fixed;
    left: 10px;
    bottom: 10px;
    filter: invert();
}

.page3img {
    max-height: 200px;
    filter:drop-shadow(3px 0 5px rgba(87, 84, 84, 0.623));
    object-fit: cover;
}

.location {
    padding-top: 60px;
}


@media  screen and (max-width: 500px) {
    #slide2 p {
        font-size: 13px;
    }

    #slide2 .video {
        width: 200px;
        height: 200px;
    }

    .page3img {
        padding: 5px;
    }

    #slide3 p{
        font-size: 12px;
    }

    .location {
        padding-top: 10px;
    }

    #slide3 .james {
        display: none;
    }

}

@media  screen and (max-width: 700px) {
    #slide2 p {
        font-size: 13px;
    }

    #slide2 .video {
        max-width: 400px;
        max-height:300px;
    }

    .page3img {
        padding: 5px;
    }
}